.dashboard-container {
  padding-top: 5px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-top: 20px;
}

.chart-card {
  background: white;
  border-radius: 12px;
  padding: 135px 40px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-height: 500px; 
}

.chart-card h3 {
  font-size: 18px;
  color: #333;
  margin-top: -100px;
  margin-bottom: 120px;
  font-weight: 600;
}

.chart-wrapper {
  position: relative;
  height: 350px;
  margin-top: 150px; /* Idagdag to para bumalik sa gitna yung chart */
}

canvas {
  max-height: 100%;
}

@media (max-width: 968px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #375a7f;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  margin-top: -19px; 
}